@(list: Array[models.RequestMeta])

@main("Welcome to Zuora Callout Viewer") {
	@defining(list.length){ length =>
		@for(i <- (1 to length)) {
			@defining(list(i - 1)) { meta =>
				<h3># @i Request  @if(meta != null){ at: @meta.getTimestamp }</h3>
				@if(meta != null) {
					<h4>Caller Address</h4>
					<p>@meta.getAddress</p>
					<h4>URL Params</h4>
					<ul>
					@for(param <- meta.getUrlParams) {
						<li>@param._1 --> @param._2</li>
					}
					</ul>
					<h4>Headers</h4>
					<ul>
					@for(map <- meta.getHeaders) {
						<li>@map._1 --> @map._2</li>
					}
					</ul>
					<h4>Raw Content</h4>
					<p>
					@meta.getContent
					</p>
					<h4>Parameters</h4>
					<ul>
					@for(map <- meta.getParsedParams) {
						<li>@map._1 --> @map._2</li>
					}
					</ul>
				}
			}			
			<hr>
		}
	}

}
